* {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

/* font-family: 'Open Sans', sans-serif;
 font-family: 'Roboto', sans-serif
 font-family: 'Roboto Condensed', sans-serif
 font-family: 'Roboto Slab', serif
 font-family: 'Ubuntu', sans-serif */
/* SIDEBAR */
.bi-gear-fill,
.bi-speedometer,
.bi-person-circle,
.bi-people-fill {
  margin-right: 5px;
  color: #f2f2f2;
}

.left-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  float: left;
  height: 100vh;
  width: 15vw;
  background: #141414;
  -webkit-box-shadow: 5px 0 20px rgba(0, 0, 0, 0.5);
          box-shadow: 5px 0 20px rgba(0, 0, 0, 0.5);
  /* REGISTRO */
}

.left-bar ul {
  margin-top: 2.5rem;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.left-bar ul .nav-item {
  padding: 1.5vh;
  margin: 1vh;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.left-bar ul .nav-item:hover {
  opacity: .5;
}

.left-bar ul .nav-item a {
  font: 'Roboto', sans-serif;
  text-decoration: none;
  color: #f2f2f2;
}

.left-bar .signout {
  border-radius: 5px;
  color: #e63946;
  padding: 1vh;
  margin: 1vh;
  -webkit-transition: .2s ease;
  transition: .2s ease;
  text-decoration: none;
}

.left-bar .signout:hover {
  opacity: .5;
}

.left-bar .active {
  padding: 1.5vh;
  margin: 1vh;
  background: #e63946;
  border-radius: 1em;
}

.left-bar .active a {
  font: 'Roboto', sans-serif;
  color: #f2f2f2;
  text-decoration: none;
}

section.reg {
  height: 95vh;
}

section.reg form {
  padding: 3vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  background: none;
}

section.reg form h3 {
  margin-bottom: 2vh;
  margin-left: 1.1vh;
}

section.reg form input {
  float: left;
  margin: 1vh;
  padding: 1vh;
  border: hidden;
  background: #e4e4e4;
  border-radius: 1.2vh;
  width: 20vw;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

section.reg form input:valid {
  border-bottom: #399e5a 3px solid;
}

section.reg form input:hover, section.reg form input:focus {
  background: #b8b8b8;
}

section.reg form input[id='nam'] {
  width: 30vw;
}

section.reg form input[id='mail'] {
  width: 30vw;
}

section.reg form input[id='end'] {
  width: 25vw;
}

section.reg form input[id='nm'] {
  width: 4vw;
}

section.reg form input[id='tel'] {
  width: 14.6vw;
}

section.reg form input[id='cpf'] {
  width: 14.5vw;
}

section.reg form input[id='date'] {
  width: 9vw;
}

section.reg form input[id='sus'] {
  width: 20vw;
}

section.reg form input[id='bairro'] {
  width: 30vw;
}

section.reg span.botoes {
  margin-top: 5vh;
  float: right;
}

section.reg span.botoes input[type='submit'] {
  width: 7vw;
  border: 3px #1f1f1f solid;
  background: none;
  color: #141414;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

section.reg span.botoes input[type='submit']:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  color: #f2f2f2;
  background: #399e5a;
  border: 3px #399e5a solid;
}

section.reg span.botoes input[type='submit']:active {
  -webkit-transform: scale(1);
          transform: scale(1);
}

section.reg span.botoes input[type='reset'] {
  background: none;
  width: 7vw;
  border: 3px #141414 solid;
  color: #141414;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

section.reg span.botoes input[type='reset']:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  color: #f2f2f2;
  background: #e63946;
  border: 3px #e63946 solid;
}

section.reg span.botoes input[type='reset']:active {
  -webkit-transform: scale(1);
          transform: scale(1);
}

em.suporte {
  font-size: 2em;
  float: right;
  -webkit-transform: translateX(-2.5vh) translateY(-5vh);
          transform: translateX(-2.5vh) translateY(-5vh);
  color: #e63946;
}
/*# sourceMappingURL=dash.css.map */